.logotopo {
    width: 100%;
    border: black 2px solid;
    border-radius: 10px;
    box-shadow: black 2px 2px 5px;
    margin-bottom: 50px;

}

#navegação {
    background-color: rgb(85, 95, 85);
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    border: black;
    border-radius: 2px;
    box-shadow: black 2px solid;
    }

a {
    text-decoration: unset;
    color: white;
    font-family: cursive;
}

.imgindex {
    width: 30%;
    }
#apresentação {

    font-size: 30px;
    margin-bottom: 600px;
    display: flex;
    margin-left: 25px;
}
body {
    background-color: rgb(90, 105, 90);
}

.redes {
    
    height: 100px;

}