/* Topo e barra de navegação de todas as páginas */
.logodotopo {
    width: 100%;
    margin-left: 20px;
    border: black 2px solid;
    border-radius: 900px;
    box-shadow: black 2px 2px 5px;
    margin-bottom: 30px;
    }

#navegação {
    background-color: rgb(85, 95, 85);
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    margin-left: 20px;
    border: black;
    border-radius: 2px;
    box-shadow: black 2px solid;
    }
a {
    text-decoration: unset;
    color: white;
    font-family: cursive;
    font-size: 12px;
}

/* Styles da página do index */
#apresentação {
    display: flex;
}

.imgindex {
    height: 200px;
    width: 200px;
    margin-left: 5px;
    margin-right: 30px;
    border: 1px solid;
    border-radius: 900px;
    }
    .textodoindex {
        max-width: 900px;
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 300px;
        align-items: center;
    }
    /* Styles de todas páginas */
body {
    background-color: rgb(90, 105, 90);
    margin-left: 20px;
    margin-right: 50px;
    }
.titulo { 
    text-align: center;
    font-size: 30px;
    color: white;
}
#titulosemdestaque {
   text-align: center;
   font-size: 15px;
   color: white;
}
/* Styles da página do produto Airleash */
#detalhesairleash {
    align-items: center;
    margin-bottom: 400px;
    display: flex;
    margin-left: 100px;
    font-size: 200px;
    color: white;   
}
.detalhesairleash{
    margin-left: 200px;
    border-radius: 30px;
    height: 1000px;
    width: 1000px;
    display: flexbox 
 }

 #container {
     display: grid;
     grid-template-columns: 30% 30% 30%;
     grid-template-rows: 1150px 1000px;
 }
#produtos {
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 50px;
}


/* Styles de todas páginas */
h3 {
    font-size: 12px;
    font-family: cursive;
    color: white;
    text-align: center;
    margin-bottom: 50px;
}
/* Styles dos produtos da página Guias */
.p1 {
    height: auto;
    width: 100px;
    border: white 0px solid;
    border-radius: 50px;
    margin-left: 5px;
    margin-right: 8px;
}
.descriçãoguia {
    font-size: 12px;
    color: white;
    text-align: center;
}
/* Styles dos produtos da página Diversos */
.g1 {
    height: auto;
    width: 100px;
    border: white 0px solid;
    border-radius: 50px;
    margin-left: 5px;
    margin-right: 8px;
}
.descriçãodiversos {
    font-size: 12px;
    color: white;
    text-align: center;
}
/* Styles dos produtos da página Coleiras */
.c1 {
    height: auto;
    width: 100px;
    border: white 1px solid;
    border-radius: 300px;
    margin-left: 10px;
}

.descriçãocoleira {
    font-size: 12px;
    color: white; 
    text-align: center;
}
/* Styles dos produtos da página diversos */
.g1 {
    height: auto;
    width: 100px;
    border: white 1px solid;
    border-radius: 300px;
}
/* Styles da pagina institucional */
#institucional{
    display: flex;
    margin-bottom: 500px;
}
.imageminstitucional{
    height: 200px;
    width: 200px;
    margin-right: 50px;
    border: 1px solid;
    border-radius: 100px;
}
.textodoinstitucional {
    text-align: center;
    font-size: 9px;
}

/* Styles do rodapé */


#rodapé {
    font-size: 15px;
    text-align: center;
    justify-content: center;
    color: white;
}

.redes {
    max-width: 25px;
}